server:
  port: 8761

spring:
  application:
    name: eureka
  cloud:
    config:
      enabled: false

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
  server:
    enableSelfPreservation: false